{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Подписки на авторов{% endblock %}
{% block content%}
  <div class="container py-5">
    <h1>Последние обновления на сайте</h1>
    {% include 'includes/switcher.html' %}
    {% for post in page_obj %}
      {% include 'includes/post_list.html' %}
          {% if post.group.title %}   
          <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a><br>
          {% endif %}
          <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
      </article>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'includes/paginator.html' %}
  </div>
{% endblock %}
